<div class="flex w-full p-4 gap-2">
    <div class="w-1/3 flex flex-col justify-center items-center gap-5 bg-white shadow-md p-4"
    *ngFor="let item of planBalance;let i = index">
          <h2>وضعیت اشتراک خریداری شده فعال</h2>
          <svg xmlns="http://www.w3.org/2000/svg" class="circle-chart w-1/2" viewBox="0 0 34 34" aria-hidden="true">
            <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
            <circle class="circle-chart__circle" stroke="#00acc1" stroke-width="2" [attr.stroke-dasharray]="[planBalance[i].percentOfUse,100]" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
            <g class="circle-chart__info">
              <text x="16.91549431" y="17" alignment-baseline="central" text-anchor="middle" font-size="8">{{planBalance[i].percentOfUse | number:'1.0-0'}}%</text>
            </g>
          </svg>
          <span>{{planBalance[i].used+" روز از "+ planBalance[i].planLifeTime/24/3600/1000 +" روز اشتراک ماهانه را مصرف کردید "}}</span>
      </div>
</div>
<!-- component -->
<div id="plans-table">
  <div class="w-full lg:w-11/12 bg-white shadow-md rounded py-4">
    <div class="flex items-center gap-3 divide-x-reverse divide-x-2 mx-5">
      <h1 class="text-lg text-gray-700">لیست پرداختها</h1>
      
      </div>
      <div class="w-full my-5 overflow-x-auto">
          <table class="min-w-max w-full table-auto">
              <thead>
                  <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                      <th class="hidden lg:table-cell py-3 px-6 text-right cursor-pointer" (click)="sort('createdAt')">تاریخ خرید</th>
                      <th class=" py-3 px-6 text-center cursor-pointer" (click)="sort('planid.title')"> نام اشتراک</th>
                      <th class=" py-3 px-6 text-center cursor-pointer" (click)="sort('amount')"> مبلغ</th>
                      <th class="hidden lg:table-cell py-3 px-6 text-center" (click)="sort('active')">وضعیت</th>
                  </tr>
              </thead>
              <tbody class="text-gray-600 text-sm font-light">
                  <tr class="border-b border-gray-200 hover:bg-gray-100" *ngFor="let item of payList">

                      <td class="hidden lg:table-cell py-3 px-6 text-left">
                          <!-- <div class="flex items-center"> -->
                          <a class="flex items-center font-medium">
                              <span>{{ toPersianDate(item.createdAt) }}</span>
                          </a>
                          <!-- </div> -->
                      </td>
                      <td class="py-3 px-6 text-center">
                          <a [routerLink]="'/admin/plans/edit/'+item.planid._id"
                           class="flex items-center justify-center font-normal cursor-pointer">
                              <span>{{item.planid.title}}</span>
                          </a>
                      </td>
                      <td class="py-3 px-6 text-center">
                          <span class="bg-green-50 font-medium text-green-600 py-1 px-3 rounded-full text-xs">{{item.amount|numWithComma}}</span>
                      </td>
                      <td class="hidden lg:table-cell py-3 px-6 text-center">
                          <span *ngIf="item.active"
                           class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">فعال</span>
                           <span *ngIf="!item.active && item.transaction_id"
                           class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">منقضی شده</span>
                           <span *ngIf="!item.active && !item.transaction_id"
                           class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">پرداخت ناموفق</span>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>

</div>