<form x-data="{step : 1}" [formGroup]="form" enctype="multipart/form-data" (ngSubmit)="estimate()" class="md:">
    <div class="w-full flex md:py-4 md:pr-2 md:-pl-1 lg:p-4">
        <div x-show="step == 1" x-transition.duration.750ms class="w-full rounded shadow p-6 bg-white transition-all duration-700">
            <h1 class="text-7xl uppercase"> step 1</h1>
            <div class="lg:flex gap-4">
                <div class="pb-6 w-full lg:w-1/2">
                    <label for="name" class="font-semibold text-gray-700 block pb-1">نام کاربری</label>
                    <div class="flex">
                        <input required id="username"
                            class="border-2 border-gray-200 focus:outline-blue-400 rounded-r px-4 py-3 w-full"
                            type="text" />
                    </div>
                </div>
                <div class="pb-4 w-full lg:w-1/2">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">ایمیل</label>
                    <input required id="email"
                        class="border-2 border-gray-200 rounded-r px-4 py-3 w-full focus:outline-blue-400"
                        type="email" />
                </div>
            </div>
            <div class="md:block lg:flex gap-4">
                <div class="pb-4 w-full lg:w-1/2">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">نام و نام خانوادگی</label>
                    <input class="text-input" type="text" placeholder="Full name">
                </div>
                <div class="pb-4 w-full lg:w-1/2">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">شماره موبایل</label>
                    <input [ngClass]="{'invalid-input ': f['phone'].errors}"
                        class="text-input"
                        type="text" placeholder="09121234567">
                    <p class="text-red-500" *ngIf="f['phone'].errors"> فرمت شماره موبایل صحیح نیست</p>
                </div>
            </div>
            <div class="pb-4 w-full">
                <label for="about" class="font-semibold text-gray-700 block pb-1">آدرس</label>
                <input
                    class="text-input"
                    type="text" placeholder="قیدار میدار امام حسین جنب پیشخوان خدمات دولتی">
            </div>
        </div>
        <div x-show="step == 2" x-transition.duration.750ms class="w-full rounded shadow p-6 bg-white transition-all duration-700">
            <h1 class="text-7xl uppercase"> step 2</h1>
            <div class="lg:flex gap-4">
                <div class="pb-6 w-full lg:w-1/2">
                    <label for="name" class="font-semibold text-gray-700 block pb-1">نام کاربری</label>
                    <div class="flex">
                        <input required id="username"
                            class="border-2 border-gray-200 focus:outline-blue-400 rounded-r px-4 py-3 w-full"
                            type="text" />
                    </div>
                </div>
                <div class="pb-4 w-full lg:w-1/2">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">ایمیل</label>
                    <input required id="email"
                        class="border-2 border-gray-200 rounded-r px-4 py-3 w-full focus:outline-blue-400"
                        type="email" />
                </div>
            </div>
            <div class="md:block lg:flex gap-4">
                <div class="pb-4 w-full lg:w-1/2">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">نام و نام خانوادگی</label>
                    <input
                        class="text-input"
                        type="text" placeholder="Full name">
                </div>
                <div class="pb-4 w-full lg:w-1/2">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">شماره موبایل</label>
                    <input [ngClass]="{'invalid-input ': f['phone'].errors}"
                        class="text-input"
                        type="text" placeholder="09121234567">
                    <p class="text-red-500" *ngIf="f['phone'].errors"> فرمت شماره موبایل صحیح نیست</p>
                </div>
            </div>
            <div class="pb-4 w-full">
                <label for="about" class="font-semibold text-gray-700 block pb-1">آدرس</label>
                <input
                    class="text-input"
                    type="text" placeholder="قیدار میدار امام حسین جنب پیشخوان خدمات دولتی">
            </div>
        </div>
        <div x-show="step == 3" x-transition.duration.750ms class="w-full flex-grow flex-shrink rounded shadow p-6 bg-white transition-all duration-700">
            <h1 class="text-7xl uppercase"> step 3</h1>
            <div class="lg:flex gap-4">
                <div class="pb-6 w-full lg:w-1/2">
                    <label for="name" class="font-semibold text-gray-700 block pb-1">نام کاربری</label>
                    <div class="flex">
                        <input required id="username"
                            class="border-2 border-gray-200 focus:outline-blue-400 rounded-r px-4 py-3 w-full"
                            type="text" />
                    </div>
                </div>
                <div class="pb-4 w-full lg:w-1/2">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">ایمیل</label>
                    <input required id="email"
                        class="border-2 border-gray-200 rounded-r px-4 py-3 w-full focus:outline-blue-400"
                        type="email" />
                </div>
            </div>
            <div class="md:block lg:flex gap-4">
                <div class="pb-4 w-full lg:w-1/2">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">نام و نام خانوادگی</label>
                    <input
                        class="text-input"
                        type="text" placeholder="Full name">
                </div>
                <div class="pb-4 w-full lg:w-1/2">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">شماره موبایل</label>
                    <input [ngClass]="{'invalid-input ': f['phone'].errors}"
                        class="text-input"
                        type="text" placeholder="09121234567">
                    <p class="text-red-500" *ngIf="f['phone'].errors"> فرمت شماره موبایل صحیح نیست</p>
                </div>
            </div>
            <div class="pb-4 w-full">
                <label for="about" class="font-semibold text-gray-700 block pb-1">آدرس</label>
                <input
                    class="text-input"
                    type="text" placeholder="قیدار میدار امام حسین جنب پیشخوان خدمات دولتی">
            </div>
        </div>
    </div>
    <div class="w-full flex-0 flex justify-end">
        <a x-show="step > 1" x-on:click="step--" class="btn-primary cursor-pointer">
            مرحله قبلی
        </a>
        <a x-show="step < 3" x-on:click="step++" class="btn-primary cursor-pointer">
            مرحله بعدی
        </a>

        <button x-show="step == 3" [disabled]="!form.dirty" type="submit" [ngClass]="loading?'px-2':'px-8'" class="btn-primary">
            <span >ذخیره</span>
            <svg *ngIf="loading" role="status"
                class="inline w-7 h-7 text-gray-200 animate-spin dark:text-gray-600 fill-pink-600"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
        </button>
    </div>
</form>
<!-- ۲ -->
<!-- component -->
<!-- This is an example component -->
<!--  -->