<!-- Settings -->
<div class="sticky top-10 overflow-hidden" x-data="{setting: false}" x-bind:class="setting? 'shadow-md':''">
    <h2 class="w-full z-10 flex justify-between text-gray-50 p-2 py-4 bg-head rounded-md">
        حقوق و دستمزد
        <a x-on:click="setting = !setting" class="cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
        </a>
    </h2>
    <!-- تنظیمات حقوق و دستمزد -->
    <div x-bind:class="setting == false? 'h-0 opacity-0':'h-auto opacity-100'"
        class="bg-white flex flex-wrap gap-3 text-sm text-gray-700 p-3 transition-all duration-300">
        <h3 class="w-full">پایه حقوق</h3>
        <div class="w-full md:w-1/4" *ngFor="let item of unit.salaryForm.jobLevels;let i = index">
            <label class="text-gray-700"> نیروی {{ item.title }}
                <input type="number" class="text-input" [(ngModel)]="estimated.salaryBase[i].salaryBase"
                    matTooltip="پایه حقوق سالیانه" placeholder="پایه حقوق">
            </label>
        </div>
        <div class="w-full">
            <button class="btn btn-purple" (click)="refereshEstimate()">اعمال</button>
        </div>
    </div>
</div>
<hr class="bg-gray-400">
<div class="text-gray-700 mb-3 text-sm grid grid-cols-12 items-center gap-2">
    <div class="col-span-12">
        <h3 class="w-full flex-shrink-0 text-gray-800 p-4">دید کلی پرسنل</h3>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-right cursor-pointer">عنوان شغلی</th>
                    <th class="py-3 px-6 text-right cursor-pointer" *ngFor="let item of unit.salaryForm.jobLevels">
                        تعداد
                        نیروی {{item.title}}</th>
                    <!-- <th class="py-3 px-6 text-right cursor-pointer">ارزش دفتری</th> -->
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr *ngFor="let job of unit.salaryForm.jobTitles"
                    class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>{{ job.title}}</span>
                    </td>
                    <td class="py-3 px-6 font-normal" *ngFor="let level of unit.salaryForm.jobLevels">
                        <span>{{ getSalaryFormDetails(job.title,level.title)?.count?
                            getSalaryFormDetails(job.title,level.title)?.count + ' نفر با حقوق ' : '0' }}</span>
                        <span>{{ getSalaryFormDetails(job.title,level.title)?.cost | numWithComma }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- سنوات و ماهیانه -->
    <div class="col-span-12">
        <h3 class="w-full flex-shrink-0 text-gray-800 p-3 mt-2">حق بیمه و سنوات و ماهیانه</h3>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-right cursor-pointer">عنوان شغلی</th>
                    <th class="py-3 px-6 text-right cursor-pointer">تعداد کل نیروها</th>
                    <th class="py-3 px-6 text-right cursor-pointer">حقوق ماهانه(سنوات)</th>
                    <th class="py-3 px-6 text-right cursor-pointer">حقوق یکسال</th>
                    <th class="py-3 px-6 text-right cursor-pointer">حق بیمه سهم کارفرما</th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr *ngFor="let job of estimated.employees"
                    class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-medium">
                        <span>{{ job.title }}</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>{{ (job.count | numWithComma) + ' نفر ' }}</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>{{ job.cost | numWithComma}}</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>{{ job.cost * 12 | numWithComma}}</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>{{ job.bime | numWithComma }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- eidi -->
    <div class="col-span-12">
        <h3 class="w-full flex-shrink-0 text-gray-800 p-3 mt-2">عیدی</h3>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-right cursor-pointer">عنوان شغلی</th>

                    <th class="py-3 px-6 text-right cursor-pointer"
                        *ngFor="let item of unit.salaryForm.jobLevels;let i = index">
                        عیدی نیروی {{item.title}}
                    </th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr *ngFor="let job of unit.salaryForm.jobTitles"
                    class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>{{ job.title}}</span>
                    </td>
                    <td class="py-3 px-6 font-normal" *ngFor="let level of unit.salaryForm.jobLevels">
                        <span>{{
                            reward(getSalaryFormDetails(job.title,level.title)?.count,getSalaryFormDetails(job.title,level.title)?.cost,level.title)
                            | numWithComma
                            }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- پاداش و اضافه کاری -->
    <div class="col-span-12">
        <h3 class="w-full flex-shrink-0 text-gray-800 p-3 mt-2">پاداش و اضافه کاری</h3>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-right cursor-pointer">عنوان شغلی</th>

                    <th class="py-3 px-6 text-right cursor-pointer"
                        *ngFor="let item of unit.salaryForm.jobLevels;let i = index">
                        پاداش نیروی {{item.title}}
                    </th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr *ngFor="let job of unit.salaryForm.jobTitles"
                    class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>{{ job.title}}</span>
                    </td>
                    <td class="py-3 px-6 font-normal" *ngFor="let level of unit.salaryForm.jobLevels">
                        <span>
                            {{ (getSalaryFormDetails(job.title,level.title)?.count *
                            getSalaryFormDetails(job.title,level.title)?.cost * 2 | numWithComma) }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- حقوق و مزايا -->
    <div class="col-span-12">
        <h3 class="w-full flex-shrink-0 text-gray-800 p-3 mt-2">مجموع حقوق ومزاياي 
        </h3>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-right cursor-pointer">عنوان شغلی</th>

                    <th class="py-3 px-6 text-right cursor-pointer">
                        مجموع حقوق ومزاياي یکسال
                    </th>
                    <th class="py-3 px-6 text-right cursor-pointer">
                        خروجی نقدینگی یکماهه
                    </th>
                    <th class="py-3 px-6 text-right cursor-pointer">
                        متوسط حقوق و مزایای پرداختی یک ماه
                    </th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr *ngFor="let job of estimated.employees"
                    class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-medium">
                        <span>{{ job.title }}</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ job.cost + job.eidi + job.reward | numWithComma }}
                        </span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ (job.bime/12) + job.cost | numWithComma }}
                        </span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ ((job.cost*12) + job.eidi + job.bime + job.reward)/12 | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border bg-lime-200 border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6 font-normal">مجموع</td>
                    <td class="py-3 px-6 font-normal">{{this.estimated.sumSalaryCosts.costs | numWithComma}}</td>
                    <td class="py-3 px-6 font-normal">{{ this.estimated.sumSalaryCosts.oneMonthLiquidityOutput | numWithComma }}</td>
                    <td class="py-3 px-6 font-normal">{{ this.estimated.sumSalaryCosts.sum | numWithComma }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>