<div class="sticky top-10 overflow-hidden" x-data="{setting: false}" x-bind:class="setting? 'shadow-md':''">
    <h2 class="w-full z-10 flex justify-between text-gray-50 p-2 py-4 bg-head rounded-md">
        سرمایه در گردش
        <a x-on:click="setting = !setting" class="cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
        </a>
    </h2>
    <!-- تنظیمات -->
    <div x-bind:class="setting == false? 'h-0 opacity-0':'h-auto opacity-100'"
        class="bg-white flex items-center flex-wrap gap-3 text-sm text-gray-700 p-1 transition-all duration-300">
        <h3 class="w-full"></h3>
        <div class="px-3">
            <label class="text-gray-700"> دوره زمانی(ماه)
                <input type="number" class="editable-field"
                    [(ngModel)]="period"
                    matTooltip="دوره زمانی سرمایه در گردش" placeholder="براساس ماه">
            </label>
        </div>
        <div class="px-3">
            <label class="text-gray-700"> ظرفیت واقعی سالانه
                <input type="number" class="editable-field"
                    style="max-width: 150px !important;"
                    [(ngModel)]="unit.fundAndExpensesForm.zarfiyateSalane">
                    {{unit.fundAndExpensesForm.zarfiyateSalane}}
            </label>
        </div>
        <div class="relative px-3">
            <span class="ml-2"> سال:</span>
            <select [(ngModel)]="year['workingCapital']" (change)="applyChanges()"
                class="border border-gray-300 text-gray-600 h-8 px-4 bg-white hover:border-gray-400 focus:outline-none">
                <option [value]="1">اول</option>
                <option [value]="2">دوم</option>
                <option [value]="3">سوم</option>
                <option [value]="4">چهارم</option>
                <option [value]="5">پنجم</option>
                <option [value]="6">ششم</option>
                <option [value]="7">هفتم</option>
                <option [value]="8">هشتم</option>
                <option [value]="9">نهم</option>
                <option [value]="10">دهم</option>
            </select>
        </div>
        <div class="">
            <button class="btn btn-purple" style="margin-top: 0 !important;" (click)="applyChanges()">اعمال</button>
        </div>
    </div>
</div>
<hr class="bg-gray-400">
<div class="mb-3 grid grid-cols-12 items-center gap-2">
    <h3 class="w-full col-span-12 flex-shrink-0 text-gray-800 p-4">سرمایه در گردش {{ unit.fundAndExpensesForm.time }} ماهه</h3>
    <div class="md:col-span-4 col-span-12">
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-right cursor-pointer">شرح</th>
                    <th class="py-3 px-6 text-right cursor-pointer">مقدار</th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>مواد اولیه</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.totalRawMaterials/(12/period) | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>حقوق و دستمزد</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.salary / (12/period) | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>آب‌وبرق‌و‌گاز‌و‌تلفن</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.WEGT.sum / (12/period) | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>تعمیر و نگهداری</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.maintenanceCost / (12/period) | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>موجودی کالا</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.mojodiKala | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>قالب مصرفی</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.ghalebMasrafi/4 | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>مجموع</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.sumInPeriod | numWithComma }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- مواد اولیه مورد نیاز -->
    <div class="mt-1 mb-3 lg:col-span-8 col-span-12">
        <span>مواد اولیه مورد نیاز</span>
        <ng-container
            *ngTemplateOutlet="table; context: {$implicit : unit.fundAndExpensesForm.mavadAvalie, header:['شرح','واحد','ضریب (درصد)','مقدار','قیمت واحد']}">
        </ng-container>
    </div>
    <!-- هزینه های جاری -->
    <div class="md:col-span-12 col-span-12">
        <h3 class="w-full col-span-12 flex-shrink-0 text-gray-800 p-4">هزینه های جاری</h3>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-right cursor-pointer">هزینه های سالانه</th>
                    <th class="py-3 px-6 text-right cursor-pointer">مقدار</th>
                    <th class="py-3 px-6 text-right cursor-pointer">قیمت واحد</th>
                    <th class="py-3 px-6 text-right cursor-pointer">افزایش سالانه</th>
                    <th class="py-3 px-6 text-right cursor-pointer">هزینه</th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>
                            تعمیر نگهداری ساختمان
                        </span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.maintenanceCost.building | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>تعمیر نگهداری تجهیزات </span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.maintenanceCost.equipment | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>تعمیر نگهداری وسائط نقلیه</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.maintenanceCost.vehicles | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>مواد اولیه و بسته‌بندی</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.totalRawMaterials | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>بیمه کارخانه</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.bime | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>قالب‌های مصرفی</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.ghalebMasrafi | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>تنخواه</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        --
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.tankhah | numWithComma }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>مصرف آب</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.water.count | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.water.cost | numWithComma:money }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.water.percent | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.WEGT.water | numWithComma:money }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>مصرف گاز (فصول گرم)</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.gasWarmSeasons.count | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.gasWarmSeasons.cost | numWithComma:money }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.gasWarmSeasons.percent | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.WEGT.gasWarmSeasons | numWithComma:money }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>مصرف گاز (فصول سرد)</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.gasColdSeasons.count | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.gasColdSeasons.cost | numWithComma:money }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.gasColdSeasons.percent | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.WEGT.gasColdSeasons | numWithComma:money }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>مصرف برق</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.electricity.count | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.electricity.cost | numWithComma:money }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.electricity.percent | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.WEGT.electricity | numWithComma:money }}
                        </span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal">
                        <span>مصرف تلفن و اینترنت</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.phoneAndInternet.count | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.phoneAndInternet.cost | numWithComma:money }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        {{ unit.fundAndExpensesForm.hazineJari.phoneAndInternet.percent | numWithComma }}
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.WEGT.phoneAndInternet | numWithComma:money }}
                        </span>
                    </td>
                </tr>
                <tr class="border-2 bg-lime-100 border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td colspan="2" class="py-3 border px-6 font-normal">
                        <span>مجموع</span>
                    </td>
                    <td colspan="3" class="py-3 border px-6 font-normal">
                        <span>
                            {{ estimated.workingCapital.sum | numWithComma }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- ضرایب فروش -->
    <div class="md:col-span-12 col-span-12 mt-3">
        <h4 class="mb-3">ضرایب فروش و تبلیفات</h4>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-right cursor-pointer">سال</th>
                    <th class="py-3 px-6 text-right cursor-pointer">تعداد</th>
                    <th class="py-3 px-6 text-right cursor-pointer">قیمت پایه فروش</th>
                    <th class="py-3 px-6 text-right cursor-pointer">ضریب افزایش قیمت</th>
                    <th class="py-3 px-6 text-right cursor-pointer">قیمت سالانه</th>
                    <th class="py-3 px-6 text-right cursor-pointer">درآمد سالانه</th>
                    <th class="py-3 px-6 text-right cursor-pointer">درصد بودجه تبلیغات</th>
                    <th class="py-3 px-6 text-right cursor-pointer">هزینه تبلیغات</th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]"
                    *ngFor="let item of estimated.salesAndAdsRate.count; let i = index">
                    <td class="py-3 px-6 font-normal">
                        <span class="text-blue-900">{{ '# '+ (i+1) }}</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>{{ estimated.salesAndAdsRate.count[i] | numWithComma }}</span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span *ngIf="i != 0">{{ estimated.salesAndAdsRate.basePrice }}</span>
                        <input type="text" *ngIf="i == 0"
                            class="editable-field" style="max-width:160px !important"
                            (change)="salesAndAdsRate()"
                            (focus)="focus($event)" (focusout)="focusOut($event)"
                            [(ngModel)]="estimated.salesAndAdsRate.basePrice"
                            appNumWithComma
                        >
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <input type="number" class="editable-field max-w-[100px]"
                         (change)="salesAndAdsRate()"
                         [(ngModel)]="estimated.salesAndAdsRate.priceIncreaseRate[i]">
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.salesAndAdsRate.yearlyPrice[i] | numWithComma }}
                        </span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.salesAndAdsRate.AnnualIncome(i) | numWithComma }}
                        </span>
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <input type="number" class="editable-field max-w-[100px]"
                         (change)="salesAndAdsRate()"
                         [(ngModel)]="estimated.salesAndAdsRate.adsPercent[i]">
                    </td>
                    <td class="py-3 px-6 font-normal">
                        <span>
                            {{ estimated.salesAndAdsRate.adsCost(i) | numWithComma }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- mavad avalie -->
<ng-template #table let-list let-header="header">
    <div class="mt-1 mb-3 col-span-12" *ngIf="list.length">
        <table class="w-full table-auto">
            <thead *ngIf="header">
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-3 px-6 text-right cursor-pointer" *ngFor="let item of header">{{item}}</th>
                </tr>
            </thead>
            <tbody class="text-gray-700 text-sm font-light">
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]"
                    *ngFor="let item of list; let indx = index">
                    <td class="py-3 px-6 font-normal" *ngFor="let i of item | keyvalue : orderbyValueAsc">
                        <span>{{ i.key == 'percent'? i.value + ' %': i.key == 'title'|| i.key == 'scale'? i.value : (i.value | numWithComma) }}</span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal bg-lime-100 " colspan="2">
                        <span>پیش‌بینی نشده</span>
                    </td>
                    <td class="py-3 px-6 font-normal bg-lime-100 " colspan="1">
                        <span>{{ estimated.workingCapital.unforeseen(estimated.workingCapital.netSumRawMaterials) | numWithComma }}</span>
                    </td>
                    <td class="py-3 px-6 font-normal bg-yellow-100 " colspan="1">
                        <span matTooltip="مجموع ضریب*مقدار*قیمت واحد"> مجموع خالص مواداولیه</span>
                    </td>
                    <td class="py-3 px-6 font-normal bg-yellow-100 " colspan="1">
                        <span>{{ estimated.workingCapital.netSumRawMaterials | numWithComma }}</span>
                    </td>
                </tr>
                <tr class="border border-gray-200 hover:bg-gray-100 bg-slate-100 first:w-[50%]">
                    <td class="py-3 px-6 font-normal" colspan="3">
                        <span>مجموع کل</span>
                    </td>
                    <td class="py-3 px-6 font-normal" colspan="2">
                        <span>{{ estimated.workingCapital.netSumRawMaterials
                            + estimated.workingCapital.unforeseen(estimated.workingCapital.netSumRawMaterials) | numWithComma }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>