<div x-data="{ cartOpen: false , isOpen: false,modal:false }" class="bg-white">
    <div class="w-full h-20 bg-gradient-to-r from-green-400 to-blue-500"></div>
    <main class="my-8">
        <div class="container mx-auto px-6">
            <h3 class="text-gray-700 text-2xl font-medium">سبد خرید</h3>
            <div class="flex flex-col items-center lg:flex-row mt-8 gap-3">

                <div class="w-full mb-8 lg:mr-4 flex-shrink-0 order-1 lg:w-1/2 lg:mb-0 lg:order-2">
                    <div class="flex justify-center group items-center lg:justify-start">
                        
                        <!-- <div class="border rounded-md max-w-md w-full px-4 py-3"> -->
                        <ng-container *ngTemplateOutlet="selectedPlan;"></ng-container>
                        <!-- </div> -->
                        <div class="w-1/4 hidden md:flex h-48 relative" appScrollTo="payform">
                            <div class="h-full group-hover:bounceAlpha2">
                                <div class="flex relative h-1/2 flex-col gap-2">
                                    <div class="arrow-top right-7"></div>
                                </div>
                                <div class="flex relative h-1/2 gap-2">
                                    <div class="arrow-bottom right-7"></div>
                                </div>
                            </div>
                            <div class="h-full group-hover:bounceAlpha">
                                <div class="flex relative h-1/2 flex-col gap-2">
                                    <div class="arrow-top right-10"></div>
                                </div>
                                <div class="flex relative h-1/2 gap-2">
                                    <div class="arrow-bottom right-10"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 order-2">
                    <div class="flex items-center">
                        <button class="flex text-sm text-blue-500 focus:outline-none"><span
                                class="flex items-center justify-center text-white bg-blue-500 rounded-full h-5 w-5 ml-2">۱</span>
                            تایید مشخصات</button>
                        <button class="flex text-sm text-gray-700 mr-8 focus:outline-none"><span
                                class="flex items-center justify-center border-2 border-blue-500 rounded-full h-5 w-5 ml-2">۲</span>
                            پرداخت</button>
                        <button class="flex text-sm text-gray-500 mr-8 focus:outline-none" disabled><span
                                class="flex items-center justify-center border-2 border-gray-500 rounded-full h-5 w-5 ml-2">۳</span>
                            فعال شدن اشتراک</button>
                    </div>
                    <form class="mt-8 lg:w-3/4" id="payform">
                        <div>
                            <h4 class="text-sm text-gray-500 font-medium">مشخصات اشتراک:</h4>
                            <div class="mt-6">
                                <div
                                    class="flex justify-between w-full bg-white rounded-md border-2 border-blue-500 p-4 focus:outline-none">
                                    <div class="flex flex-col">
                                        <span class="mr-2 text-gray-700">{{data.title}}</span>
                                        <span class="mr-2 mt-1 text-sm text-gray-500">فعال برای:{{data.time? (' '+data.time.month +' ماه و '+ data.time.day +' روز'):''}}</span>
                                    </div>

                                    <span class="text-green-600">{{ (data.cost|numWithComma) + ' تومان' }}</span>
                                </div>
                                <ng-container *ngIf="!loggedin[0]">
                                    <h2 class="mt-6 mb-1 text-gray-700 text-lg">برای خرید اشتراک ابتدا باید وارد حساب کاربری
                                        خود شوید:</h2>
                                    <div class="flex items-center w-full bg-white rounded-md p-2 focus:outline-none">
                                        <div class="flex items-center justify-between w-2/3 mx-auto">
                                            <button class="btn btn-primary text-sm" (click)="modal=login"
                                                x-on:click="modal = !modal">ورود</button>
                                            <button class="btn btn-primary text-sm" (click)="modal=register"
                                                x-on:click="modal = !modal">ثبت نام</button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="flex items-center justify-between mt-8 relative" [ngClass]="{'blur-sm': !loggedin[0]}">
                            <div class="absolute top-0 right-0 w-full h-full" *ngIf="!loggedin[0]"></div>
                            <button [routerLink]="['/']"
                                class="flex items-center text-gray-700 text-sm font-medium rounded hover:underline focus:outline-none">
                                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                    <path d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                                </svg>
                                <span class="mx-2">بازگشت</span>
                            </button>
                            <button (click)="toPrice()" id="price"
                                class="flex btn-purple px-3 py-2 items-center bg-blue-600 text-white text-sm font-medium rounded-md hover:bg-gradient-to-bl focus:outline-none focus:bg-blue-500">
                                <span class="ml-3">پرداخت</span>
                                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                    <path d="M7 16l-4-4m0 0l4-4m-4 4h18"></path>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <app-modal [modalContent]="modal"></app-modal>
</div>

<ng-template #login>
    <app-login-form redirect="self"></app-login-form>
</ng-template>
<ng-template #register>
    <app-register-form></app-register-form>
</ng-template>

<ng-template #selectedPlan>
    <!-- plan -->
    <div class="shadow-lg rounded-2xl w-3/4 max-w-[370px] bg-white dark:bg-gray-800 p-4 wow fadeInUp "
        data-wow-delay=".15s">
        <p class="text-gray-800 dark:text-gray-50 text-xl font-medium mb-4">
            {{ data.title }}
        </p>
        <p class="dark:text-white text-3xl font-bold text-gray-800">
            {{ (data.cost |numWithComma) +' تومان' }}
            <span class="text-gray-300 text-sm">
                {{
                data.time? ('/ '+data.time.month +' ماه و '+ data.time.day +' روز'):''
                }}
            </span>
        </p>
        <p class="text-gray-600 dark:text-gray-100  text-xs mt-4">
            {{ data.description }}
        </p>
        <ul class="text-sm text-gray-600 dark:text-gray-100 w-full mt-6 mb-6">
            <li class="mb-3 flex items-center" *ngFor="let item of data.items">
                <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" width="6" height="6" stroke="currentColor"
                    fill="#10b981" viewBox="0 0 1792 1792">
                    <path
                        d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                    </path>
                </svg>
                {{ item }}
            </li>

            <li class="mb-3 flex items-center opacity-50" *ngFor="let item of data.exceptions">
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" class="h-6 w-6 mr-2" fill="red"
                    viewBox="0 0 1792 1792">
                    <path
                        d="M1277 1122q0-26-19-45l-181-181 181-181q19-19 19-45 0-27-19-46l-90-90q-19-19-46-19-26 0-45 19l-181 181-181-181q-19-19-45-19-27 0-46 19l-90 90q-19 19-19 46 0 26 19 45l181 181-181 181q-19 19-19 45 0 27 19 46l90 90q19 19 46 19 26 0 45-19l181-181 181 181q19 19 45 19 27 0 46-19l90-90q19-19 19-46zm387-226q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z">
                    </path>
                </svg>
                {{ item }}
            </li>

        </ul>
        <button type="button" disabled class="btn btn-primary w-full">
            خرید اشتراک
        </button>
    </div>
</ng-template>
