<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="bg-whiteleading-normal tracking-normal">

    <nav x-data="{userdata:false,menu:false}" id="header"
        class="bg-white w-full z-20 top-0 border-b-2 border-gray-200 pb-2">
        <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">
            <div class="w-1/2 pr-4">
                <div class="flex relative float-right">
                    <!-- responsive menu btn -->
                    <div class="block lg:hidden pr-4">
                        <button x-on:click="menu = !menu" id="nav-toggle"
                            class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
                            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <title>منو</title>
                                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                            </svg>
                        </button>
                    </div>
                    <!-- user data -->
                    <div class="relative text-sm">
                        <button x-on:click="userdata = !userdata" id="userButton"
                            class="flex items-center focus:outline-none mr-3">
                            <svg class="pl-2 h-2" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                                xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                                <g>
                                    <path
                                        d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" />
                                </g>
                            </svg>
                            <span class="hidden md:inline-block">سلام {{userInfo.user?.fullname}} </span>
                            <img class="w-8 h-8 rounded-full mr-4" [src]="userInfo.user.imgurl?apiUrl+userInfo.user.imgurl:'/assets/img/profile-pic.png'" alt="Avatar" crossorigin>
                        </button>
                        <div id="userMenu" x-on:click.away="userdata = !userdata" x-show="userdata == true"
                            class="bg-white rounded shadow-md absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30">
                            <ul class="list-reset">
                                <li><a [routerLink]="['/panel']"
                                    class="px-4 cursor-pointer py-2 block text-gray-900 hover:bg-gray-400 no-underline ">
                                    پنل کاربری</a></li>
                                <li><a [routerLink]="['/panel/profile']"
                                        class="px-4 cursor-pointer py-2 block text-gray-900 hover:bg-gray-400 no-underline ">ویرایش
                                        پروفایل</a></li>
                                <li><a href="#"
                                        class="px-4 cursor-pointer py-2 block text-gray-900 hover:bg-gray-400 no-underline ">اعلان
                                        ها</a></li>
                                <li>
                                    <hr class="border-t mx-2 border-gray-200">
                                </li>
                                <li><a [routerLink]="['/logout']"
                                        class="px-4 cursor-pointer py-2 block text-red-500 font-medium hover:bg-gray-400 no-underline hover:no-underline">خروج</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="w-1/2 flex justify-end pl-2 md:pl-4">
                <a class="text-gray-900 mt-1 text-base xl:text-xl no-underline hover:no-underline font-bold"
                    [routerLink]="['/']">
                    پنل حساب کاربری
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                </svg>
            </div>

            <div x-bind:class="menu? 'block':'hidden'" class="w-full flex-grow lg:flex lg:items-center lg:w-auto -pb-2 mt-2 lg:mt-3 bg-white z-20"
                id="nav-content">
                <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
                    <li class="mr-6 my-2 md:my-0">
                        <a [routerLink]="['/panel']" routerLinkActive="border-orange-600" [routerLinkActiveOptions]="{exact: true}"
                            class="block py-1 md:py-3 pl-1 align-middle text-pink-600 no-underline hover:text-gray-900 border-b-2 hover:border-orange-600">
                            <i class="fas fa-home fa-fw mr-3 text-pink-600"></i><span
                                class="mr-1 pb-1 md:pb-0 text-sm">خانه</span>
                        </a>
                    </li>
                    <li class="mr-6 my-2 md:my-0">
                        <a [routerLink]="['/panel/projacts']" routerLinkActive="border-sky-500"
                            class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-pink-500">
                            <i class="fas fa-tasks fa-fw mr-3"></i><span class="mr-1 pb-1 md:pb-0 text-sm">
                                پروژه ها</span>
                        </a>
                    </li>
                    <li class="mr-6 my-2 md:my-0">
                        <a [routerLink]="['/panel/newunit']" routerLinkActive="border-green-500" 
                            class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-green-500">
                            <i class="fas fa-chart-area fa-fw mr-3"></i>
                            <span class="mr-1 pb-1 md:pb-0 text-sm">
                                پروژه جدید +
                            </span>
                        </a>
                    </li>
                    <li class="mr-6 my-2 md:my-0">
                        <a href="#"
                            class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-purple-500">
                            <i class="fa fa-envelope fa-fw mr-3"></i><span class="mr-1 pb-1 md:pb-0 text-sm">
                                اطلاعات حساب
                            </span>
                        </a>
                    </li>
                    <li class="mr-6 my-2 md:my-0">
                        <a [routerLink]="['/panel/payments']" routerLinkActive="border-red-500" 
                            class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-red-500">
                            <i class="fa fa-wallet fa-fw mr-3"></i><span
                                class="mr-1 pb-1 md:pb-0 text-sm">تراکنشها</span>
                        </a>
                    </li>
                </ul>

                <div class="relative pull-right pl-4 pr-4 md:pr-0">
                    <input type="search" placeholder="جستوجو..."
                        class="w-full bg-gray-100 text-sm text-gray-۹00 transition border focus:outline-none focus:border-gray-700 rounded p-2 pl-10 appearance-none leading-normal">
                    <div class="absolute search-icon" style="top: 0.7rem;left: 1.75rem;">
                        <svg class="fill-current pointer-events-none text-gray-800 w-4 h-4"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
                            </path>
                        </svg>
                    </div>
                </div>

            </div>

        </div>
    </nav>

    <!--Container-->
    <div class="container w-full mx-auto pt-5">

        <div class="w-full px-4 md:px-0 md:mt-8 mb-10 text-gray-800 leading-normal">

            <app-priced-plans *ngIf="url == '/panel'"></app-priced-plans>
            <!-- Content-->
            <router-outlet class="w-full"></router-outlet>

        </div>


    </div>
</div>

<app-footer></app-footer>