<!-- ====== Navbar Section Start -->

<nav class="relative px-4 py-4 flex justify-between items-center bg-white">
    <div class="max-w-full"> 
        <a [routerLink]="['/']" class="w-full flex items-center justify-center">
        <img [src]="logo?logo:'assets/img/qk.svg'" alt="logo" class="max-w-[150px] max-h-[80px] w-full" crossorigin/>
        </a>
    </div>
    <app-show-menus loc="header" class="absolute left-0 lg:static" [showSidebar]="showSidebar"></app-show-menus>
    <!-- login & register buttons -->
    <div class="hidden lg:inline-block gap-3" *ngIf="!loggedIn">
        <a class="py-2 px-6 bg-gray-100 hover:bg-gray-100 mx-2 text-sm text-gray-900 font-bold rounded-xl transition duration-200"
         routerLink="/login">ورود</a>
        <a class="py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200"
         routerLink="/register">ثبت نام</a>
    </div>
    <!-- user control panel -->
    <div class="relative flex gap-3"
     x-data="{userdata:false}"
     *ngIf="loggedIn">
        <button x-on:click="userdata = !userdata" id="userButton"
            class="flex items-center hi-user text-white focus:outline-none mr-3">
            <svg class="pl-2 h-2" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
                <g>
                    <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" />
                </g>
            </svg>
            <span class="hidden md:inline-block text-gray-800">سلام {{userInfo.user.fullname}} </span>
            <img class="w-8 h-8 rounded-full mr-4" [src]="userInfo.user.imgurl?apiUrl+userInfo.user.imgurl:'/assets/img/profile-pic.png'" alt="Avatar" crossorigin>
        </button>
        <div id="userMenu" x-on:click.away="userdata = !userdata" x-show="userdata == true"
            class="bg-white rounded shadow-md absolute mt-12 top-1 right-0 min-w-full overflow-auto z-30">
            <ul class="list-reset">
                <li>
                    <a [routerLink]="['/panel']"
                        class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline ">
                        پنل کاربری
                    </a>
                </li>
                <li><a [routerLink]="['/panel/profile']"
                        class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline ">ویرایش
                        پروفایل</a></li>
                <li><a href="#" class="px-4 py-2 block text-gray-900 hover:bg-gray-400 no-underline ">اعلان
                        ها</a></li>
                <li>
                    <hr class="border-t mx-2 border-gray-200">
                </li>
                <li><a (click)="logOut()"
                        class="px-4 py-2 cursor-pointer block text-red-500 font-medium hover:bg-gray-400 no-underline hover:no-underline">
                        خروج
                    </a>
                </li>
            </ul>
        </div>
        <ng-container *ngTemplateOutlet="mobileMenuShowButton"></ng-container>
    </div>
    <ng-container *ngIf="!loggedIn">
        <ng-container *ngTemplateOutlet="mobileMenuShowButton"></ng-container>
    </ng-container>

</nav>

<!-- show responsive menu button -->
<ng-template #mobileMenuShowButton>
    <div class="lg:hidden">
        <button (click)="openMobileNav()" class="navbar-burger flex items-center text-blue-600 p-3">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>منوی موبایل</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>
</ng-template>

<!-- ====== Navbar Section End -->